<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8fd9367667.js" crossorigin="anonymous"></script>

    <link href="public/styles/main.css" rel="stylesheet">
    <link href="public/styles/dashboard.css" rel="stylesheet">

    <script src="public/scripts/menu.js" defer></script>

    <title>Dashboard</title>
</head>
<body>
    <nav class="flex-row-center-center">
        <div class="desktop-icons">
            <a href="/" class="nav-item flex-column-center-center">
                <i class="nav-icon fa-solid fa-house"></i>
                <p>Homepage</p>
            </a>
            <a href="/dashboard" class="nav-item flex-column-center-center">
                <i class="nav-icon fa-solid fa-table-columns"></i>
                <p>Dashboard</p>
            </a>
            <a href="/find-us" class="nav-item flex-column-center-center">
                <i class="nav-icon fa-solid fa-location-dot"></i>
                <p>Find Us</p>
            </a>
            <a href="/contact-us" class="nav-item flex-column-center-center">
                <i class="nav-icon fa-solid fa-address-card"></i>
                <p>Contact Us</p>
            </a>
            <a href="/sign-in" class="nav-item flex-column-center-center">
                <i class="nav-icon fa-solid fa-user"></i>
                <p>Sign In</p>
            </a>
        </div>
        <div class="nav-item flex-column-center-center hide-desktop">
            <i class="nav-icon fa-solid fa-bars"></i>
            <p>Menu</p>
        </div>
    </nav>

    <main>
        <section>
            <div class="card">
                <img src="https://random.imagecdn.app/500/500" class="card-img"/>
                <p class="flex-column-center-center">Card </p>
            </div>
            <div class="card">
                <img src="https://random.imagecdn.app/500/500" class="card-img"/>
                <p class="flex-column-center-center">Card </p>
            </div>
            <div class="card">
                <img src="https://random.imagecdn.app/500/500" class="card-img"/>
                <p class="flex-column-center-center">Card </p>
            </div>
            <div class="card">
                <img src="https://random.imagecdn.app/500/500" class="card-img"/>
                <p class="flex-column-center-center">Card </p>
            </div>
        </section>
        <aside>
d
        </aside>
    </main>
</body>
</html>