body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

/*https://coolors.co/050505-1b9aaa-dddbcb-f5f1e3-ffffff*/

:root{
    --primary-100: #1B9AAA;
    --primary-200: #148796;
    --primary-300: #0F6D7A;
    --primary-400: #0A4B5E;
    --primary-500: #062A42;
    --neutral-white: #FFFFFF;
    --neutral-black: #050505;
    --secondary-100: #F5F1E3;
    --secondary-200: #DDDBCB;
    --secondary-300: #c2c0b2;
    --neutral-shadow: rgba(5, 5, 5, 0.4);
}

.flex-column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide-desktop{
    @media (min-width: 768px) {
        display: none !important;
    }
}

.hide-mobile{
    @media (max-width: 768px) {
        display: none !important;
    }
}